<div class="col-xs-12">
    <h2>Mes appariles </h2>
    <app-appareil-view *ngFor="let appareile of appareils ; let i = index"
    [appareileIndex]="i"
    [appareileName]="appareile.name"
    [appareileStatus]="appareile.status"
    [id]="appareile.id">
    </app-appareil-view>
    
  
  <button class="btn btn-success"
   (click)="switchOnAll()">Tout allumer</button>
   <button class="btn btn-danger"
   (click)="switchOffAll()">Tout allumer</button>
  <button class="btn btn-primary"
        (click)="onSave()">Enregistrer les appareils</button>
   <button class="btn btn-primary"
        (click)="onFetch()">Récupérer les appareils</button>
</div>