<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="auth">Authentication</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="appareils">Appareils</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="edit">Nouveau Appareil</a>
      </li>
      
    <li routerLinkActive="active">
      <a routerLink="users">Utilisateurs</a>
    </li>
    </ul>
    <div class="navbar-right">
      <p>vous avez connecté depuis : {{seconndes}} seconndes !</p>
    </div>
  </div>

</nav>

<div class="container">
<div class="row">
 <!-- <div class="col-xs-12">
    <h2>Mes appariles </h2>
     /** Pipe Date Pipe async*/
    <p>Miss a jour :{{ lastUpdate  }}</p>
    /** date */
    <p>Miss a jour :{{ lastUpdate | date  }}</p>
    /** date short */
    <p>Miss a jour :{{ lastUpdate | date : 'short'  }}</p>
    /** date yMMMMEEEEd
    <p>Miss a jour :{{ lastUpdate | date : 'yMMMMEEEEd' | uppercase  }}</p>
    /** Pipe async */
    <p>Miss a jour :{{ lastUpdate1 | async | date : 'yMMMMEEEEd' | uppercase   }}</p>
   /** property static */
    <app-navbar appareileName="appareilOne" appareileStatus="étient"></app-navbar>
     /** property dynamique */
    <app-navbar [appareileName]="appareilOne" [appareileStatus]="'allumé'"></app-navbar>
    <app-navbar [appareileName]="appareilTwo" [appareileStatus]="'étient'"></app-navbar>
    <app-navbar [appareileName]="appareilThree" [appareileStatus]="'allumé'"></app-navbar>
     -->
   <!--  <app-navbar *ngFor="let appareile of appareils ; let i = index"
    [appareileIndex]="i"
    [appareileName]="appareile.name"
    [appareileStatus]="appareile.status"></app-navbar>
    
  </div>
  <button class="btn btn-success"
   (click)="switchOnAll()">Tout allumer</button>
   <button class="btn btn-danger"
   (click)="switchOffAll()">Tout allumer</button> -->

<!-- <app-appareil></app-appareil> -->

<router-outlet></router-outlet>
  </div>
</div>

